#Dependências do node
node_modules/

#Dependências do bower (arquivos de formatação do Front-end)
public/admin/bower_components/

#Variáveis de ambiente
.env

#Upload de imagens
public/images/upload/*